
 #offcanvasRightLabel{
    border-bottom: 4px solid rgb(255, 73, 7);
   
}

#home-tab2{
 background-image: linear-gradient(to left,#e22626,orange,#e22626);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#home-tab2:hover{
 background-image: linear-gradient(to right,#08222d,#2a93bd);


}
#home-tab1{
background-image: linear-gradient(to left,#e22626,orange,#e22626);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#home-tab1:hover{
 background-image: linear-gradient(to right,#08222d,#2a93bd);
}
#home-tab3{
background-image: linear-gradient(to left,#e22626,orange,#e22626);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#home-tab3:hover{
 background-image: linear-gradient(to right,#08222d,#2a93bd);
}